<div class="jumbotron">
	<h3>Upload .csv file and map to Clio Contacts</h3>
	<div class="btn-group">
		<%= link_to "Connect Account", authorization_create_path, :class => "btn btn-primary btn-large" %>
	</div>
</div>